<div class="container">

   <div class="row">
     <eyes1></eyes1>    
   </div>
   <hr>
   <div class="row">
      <div class="col-md-8">
        <h1>Visual Perception 1</h1>
        <h4>Eyes are not cameras. See how color and form are preattentive.</h4>
        <h4>Source: <a href="http://www.csc.ncsu.edu/faculty/healey/PP/index.html">Healey</a></h4>
      </div>
      <div class="col-md-4">
        <h1><a href="#/chapter-2-2"><span class="glyphicon glyphicon-arrow-right"></span></a></h1>
      </div>
   </div>


</div>

