<div class="container-fluid">

  <chapter1></chapter1>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <h1>Data Types</h1>
      <h4>Classification of types of data found in relational information</h4>
      <h4>From: <a href="http://www2.parc.com/istl/projects/uir/publications/items/UIR-1986-02-Mackinlay-TOG-Automating.pdf">Mackinlay</a>, <a href="http://personal.stevens.edu/~ysakamot/719/week3/Stevens_Measurement.pdf">Stevens</a></h4>
    </div>
    <div class="col-md-2">
      <h1><a href="#/chapter-1-2"><span class="glyphicon glyphicon-arrow-right"></span></a></h1>
    </div>
  </div>
</div>
