
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>

    <div class="container">

      <div class="row">

        <network></network>
         
      </div>

      <div class="row">
        <div class="col-md-8">
          <h1>An Introduction to Data Visualization</h1>

          <h4>Jalil Farid</h4>
          <h4>Center for Cancer Computational Biology</h4>
          <h4>Dana-Farber Cancer Institute</h4>
        </div>
        <div class="col-md-4">
          <h1><a href="#/chapter-1-1"><span class="glyphicon glyphicon-arrow-right"></span></a></h1>
        </div>
      </div>
    </div>

